@import "tailwindcss";

:root {
  --background: #0d0d0d;
  --foreground: #ededed;
  --secondary: #a1a1aa;
  --muted: #71717a;
  --border: rgb(34, 34, 34);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer components {
  .container-width {
    @apply max-w-2xl mx-auto px-4 sm:px-6;
  }
}

@layer base {
  html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scrollbar-gutter: stable;
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }
}
